#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.PhoneInputInput {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 8px;
}

.box {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

th, td {
  text-align: left;
}
